body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Common shapes and colors*/
.blue{
  background-color: #579AFF;
}
.red {
  background-color: #FF5757;

}
.circle{
  border-radius: 50%;
  position: relative;
}
.small {
  height: 24px;
  width: 24px;
}
.large {
  height: 32px;
  width: 32px;
}
.vertical_white_line{
width: 2px;
height: 80%;
background-color: white;
position: absolute;
right: 48%;
top: 12%;
}
.horizontal_white_line{
  height: 2px;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 48%;
  right: 12%;

}
